# <https://docs.docker.com/engine/reference/builder/#dockerignore-file>
/.git
/target

/docker/node-tools/.cache
/docker/node-tools/.parcel-cache
/docker/node-tools/node_modules
/docker/node-tools/clients/node_modules
