# <https://docs.docker.com/engine/reference/builder/#dockerignore-file>
/.git
/examples
/target

/dist/*.tgz
/dist/*.tar

/docker/node-tools/.cache
/docker/node-tools/.parcel-cache
/docker/node-tools/node_modules
